@model  Pollaris.Models.CreateQuestionInfo
<html>
<body>
    <navbar>
        <div class="green-bar"></div>
        <div class="navbar-body">
            <h1>Create Room</h1>
        </div>
    </navbar>

    <div id="create-question-body">
        <div id="create-question-box">
            <h3 class="p-lg-5">What type of question would you like to create?</h3>
            <grid id="grid-create-question">
                <button class="btn-blue-small" onclick="createQuestion(@Model.UserId, @Model.RoomId, @Model.SetId, 'MC')">Multiple Choice</button>
                <button class="btn-blue-small" onclick="createQuestion(@Model.UserId, @Model.RoomId, @Model.SetId, 'TF')">True/False</button>
                <button class="btn-blue-small" onclick="createQuestion(@Model.UserId, @Model.RoomId, @Model.SetId, 'R')">Ranking</button>
                <button class="btn-blue-small" onclick="createQuestion(@Model.UserId, @Model.RoomId, @Model.SetId, 'SA')">Short Answer</button>
            </grid>
        </div>
    </div>

    <div class="button-bar-1">
        <button class="btn-exit" onclick="openEditSet(@Model.UserId, @Model.RoomId, @Model.SetId)">Exit</button>
    </div>
</body>
</html>