@model Pollaris.Models.MemberPermissionsInfo
<html>
<body>
    <navbar>
        <div class="green-bar"></div>
        <div class="navbar-body">
            <h1>Members</h1>
        </div>
    </navbar>

    <div class="page">
        <div id="member-info">
            <img class="member-profile-photo" src="@Model.Member.ProfilePhoto" alt="User Profile Photo"/>
            <h1 id="member-info-name">@Model.Member.FirstName @Model.Member.LastName</h1>
        </div>

        <div id="permissions-bar">
            <button onclick="makeMemberTA(@Model.UserId, @Model.RoomId, @Model.Member.Id)">Make TA</button>
            @if (Model.MemberRole == "TA")
            {
                <button onclick="removeTA(@Model.UserId, @Model.RoomId, @Model.Member.Id)">Remove TA</button>
            }
            else
            {
                <button disabled class="grey">Remove TA</button>
            }
            <button onclick="kick(@Model.UserId, @Model.RoomId, @Model.Member.Id)">Kick</button>
        </div>
    </div>

    <div class="button-bar-1">
        <button onclick="openMemberList(@Model.UserId, @Model.RoomId)">Exit</button>
    </div>
</body>
</html>