@model Pollaris.Models.RoomDashboardInfo

<html>
<body>
    <navbar>
        <div class="green-bar"></div>
        <div class="navbar-body" style="justify-content: space-between !important">
            <h1>Room Dashboard</h1><h3>@Model.Room.Name</h3>
        </div>
    </navbar>

    <div class="dashboard-page">
        <div class="dashboard-subheader">
            <h2>QUESTION SETS</h2>
        </div>
        <grid class="grid-container">
            @foreach (var set in Model.Room.Sets)
            {
                <div class="room-dashboard-set">
                    <h3 style="margin-top: 20px">@Html.DisplayFor(modelItem => set.Name)</h3>
                    @if (set.Status == "Launch")
                    {
                        if (Model.Room.UserType == "TA")
                        {
                            <button disabled class="room-dashboard-set-button" style="background-color: #757575">Launch</button>
                        }
                        else
                        {
                            <button class="room-dashboard-set-button" style="background-color: #386150" onclick="openSetResponses(@Model.UserId, @Model.Room.Id, @set.Id)">Launch</button>
                        }
                    }
                    else if (set.Status == "Continue" || set.Status == "Reset")
                    {
                        <button class="room-dashboard-set-button" style="background-color: #FB3640">@set.Status</button>
                    }
                    else
                    {
                        //Error
                    }
                    <button class="room-dashboard-set-button" onclick="editSet(@Model.UserId, @Model.Room.Id, @set.Id, '@set.Name')">Edit</button>
                    <button class="room-dashboard-set-button" onclick="">Export</button>
                </div>
            }
        </grid>
    </div>

    <div class="button-bar-3">
        <button onclick="returnToUserDashboard(@Model.UserId)">Exit</button>
        <div>
            <button onclick="">Create Set</button>
            <button onclick="roomMembers(@Model.UserId, @Model.Room.Id)">Members</button>
        </div>
    </div>
</body>
</html>