@model Pollaris.Models.RoomDashboardInfo

<html>
<body>
    <navbar>
        <div class="green-bar"></div>
        <div class="navbar-body justify-content-between">
            <h1>@Model.Room.Name</h1><h3>Join Code: @Model.Room.Code</h3>
        </div>
    </navbar>

    <div class="dashboard-page">
        <div class="dashboard-subheader">
            <h2>QUESTION SETS</h2>
        </div>
        <grid class="grid-container">
            @foreach (var set in Model.Room.Sets)
            {
                <div class="room-dashboard-set">
                    <h3 class="mt-lg-4">@Html.DisplayFor(modelItem => set.Name)</h3>
                    @if (set.Status == "L")
                    {
                        if (Model.Room.UserType == "TA")
                        {
                            <button disabled class="room-dashboard-set-button grey">Launch</button>
                        }
                        else
                        {
                            <button class="room-dashboard-set-button dark-green" onclick="launchSet(@Model.UserId, @Model.Room.Id, @set.Id)">Launch</button>
                        }
                    }
                    else if (set.Status == "C")
                    {
                        <button class="room-dashboard-set-button red" onclick="continueSet(@Model.UserId, @Model.Room.Id, @set.Id)">@set.Status</button>
                    }
                    else if (set.Status == "R")
                    {
                        <button class="room-dashboard-set-button red" onclick="resetSet(@Model.UserId, @Model.Room.Id, @set.Id)">@set.Status</button>
                    }
                    <button class="room-dashboard-set-button" onclick="openEditSet(@Model.UserId, @Model.Room.Id, @set.Id)">Edit</button>
                    <button class="room-dashboard-set-button" onclick="exportCSV(@Model.UserId, @Model.Room.Id, @set.Id)">Export</button>
                </div>
            }
        </grid>
    </div>

    <div class="button-bar-3">
        <button onclick="openUserDashboard(@Model.UserId)">Exit</button>
        <div>
            <button onclick="createSet(@Model.UserId, @Model.Room.Id)">Create Set</button>
            <button onclick="openMemberList(@Model.UserId, @Model.Room.Id)">Members</button>
        </div>
    </div>
</body>
</html>