@model Pollaris.Models.DashboardInfo
<html>
<body>
    <navbar>
        <div class="green-bar"></div>
        <div class="navbar-body  justify-content-between">
            <h1>Dashboard</h1><img class="navbar-photo" src="/images/profile-photo.jpg"/>
        </div>
    </navbar>
    <div class="dashboard-page">
        <div class="dashboard-subheader justify-content-between">
            <h2>MY CLASSES</h2>
            <a href="#" id="edit-profile-link" class="link" onclick="openEditProfile(@Model.UserId)">Edit Profile</a>
        </div>
        <grid class="grid-container">
            @foreach (var room in Model.Rooms)
            {
                @if (room.UserType == "I")
                {
                    <div class="room-icon" onclick="openRoomDashboard(@Model.UserId, @room.Id)">
                        <div class="room-icon-header h-75">
                            <h3 class="room-icon-name">@room.Name</h3>
                            <div class="instructor-icon">
                                <img class="h-75" src="/images/star.png" />
                            </div>
                        </div>
                        <div class="room-icon-instructor h-25"></div>
                    </div>
                }
                else if (room.UserType == "TA")
                {
                    <div class="room-icon" onclick="openRoomDashboard(@Model.UserId, @room.Id)">
                        <div class="room-icon-header">
                            <h3 class="room-icon-name">@room.Name</h3>
                            <h3 class="ta-icon">TA</h3>
                        </div>
                        <div class="room-icon-instructor">INSTRUCTOR: @room.InstructorName</div>
                    </div>
                }
                else if (room.UserType == "S")
                {
                    <div class="room-icon" onclick="openAnswerQuestion(@Model.UserId, @room.Id)">
                        <div class="room-icon-header">
                            <h3 class="room-icon-name w-100">@room.Name</h3>
                        </div>
                        <div class="room-icon-instructor">INSTRUCTOR: @room.InstructorName</div>
                    </div>
                }
            }
        </grid>
    </div>
    <div class="button-bar-2">
        <button onclick="openJoinRoom(@Model.UserId)">Join Room</button>
        <button onclick="openCreateRoom(@Model.UserId)">Create Room</button>
    </div>
</body>
</html>