@model Pollaris.Models.EditSetInfo
<html>
    <body>
        <navbar>
            <div class="green-bar"></div>
            <div class="navbar-body">
                <h1 id="h1-set-name">@Model.RoomName - @Model.SetName</h1>
                <textarea id="txtarea-change-set-name"></textarea>
            <button id="btn-change-name" class="btn-change-set-name" onclick="changeName('@Model.RoomName', '@Model.SetName')">Change Name</button>
            <button id="btn-submit-name" class="btn-change-set-name" onclick="submitNewName(@Model.SetId, '@Model.RoomName')">Submit</button>
        </div>
        </navbar>

        <div id="edit-set-body">
            <div id="delete-set-popup">
                <p class="p-delete-set">Are you sure you want to delete this set?</p>
                <p class="p-delete-set">This will permanently remove the set and all questions within.</p>
                <div class="d-flex flex-row justify-content-center">
                    <button type="reset" onclick="closeDeleteSetPopup()">Cancel</button>
                    <button onclick="deleteSet(@Model.UserId, @Model.RoomId, @Model.SetId)">Delete Set</button>
                </div>
            </div>
            <div id="edit-set-body-subheader">
                <h2 class="h2-left">QUESTIONS</h2>
                <button class="btn-medium" onclick="deleteSetPopup()">Delete Set</button>
            </div>
            @if (Model.Questions != null)
            {
                <div id="questions-list" style="grid-template-rows:repeat(@Model.Questions.Count(), 100px)">
                    @if (Model.Questions != null)
                    {
                        int i = 1;
                        @foreach (var question in Model.Questions)
                        {
                            <div id="ln-@question.Id" class="list-number">@i</div>
                            <div id="qnb-@question.Id" class="question-name-bar">@question.Question</div>
                            <div id="qt-@question.Id" class="question-type">@question.Type</div>
                            <button id="bs-@question.Id" class="btn-small m-0" onclick="openEditQuestion(@Model.UserId, @Model.RoomId, @Model.SetId, @question.Id)">EDIT</button>
                            <div id="bd-@question.Id" class="btn-delete" onclick="deleteQuestion(@question.Id)">
                                <img class="img-btn-delete" src="/images/trash.png" />
                            </div>
                            i++;
                        }
                    }
                </div>
            }
        </div>

        <div class="button-bar-3">
                <button onclick="openRoomDashboard(@Model.UserId, @Model.RoomId)">Exit</button>
                <button class="btn-green" onclick="saveOptionNames(@Model.UserId, @Model.RoomId)">Save</button>
        </div>
    </body>
</html>